{{#>page}}
<h2>Shell-ann Freaser-Pryce</h2><br>
<h4>age: 34 <br>
  Gender: Female</h4>
<img src="\images\athletes\shelly-ann-fraser-pryce.jpg"><br>
<a href="http://localhost:3000/athletes/shelly-ann-fraser-pryce/schedule">Open schedule</a>


{{/page}}