{{#>page}}

<h2>Athletes List</h2>
<ul>
  <li><a href="/athletes/ahmed-hafnaoui">[Tuunisia]Ahmed Hafnaoui</a></li>
  <li><a href="/athletes/hsing-chun-kuo">[Chinese Taipei]Hsing-Chun Kuo</a></li>
  <li><a href="/athletes/shelly-ann-fraser-pryce">[Jamaica]Shell-ann Freaser-Pryce</a></li>
  <li><a href="/athletes/sunisa-lee">[USA]Sunisa Lee</a></li>
</ul>

{{/page}}