{{#>page}}

<h2>Athletes Schedule</h2>
<table border="1" cellpadding="6" >
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  
  <tr>
    <td>Women's 100m Final</td>
    <td>Sat 31 Jul</td>
    <td>21:50</td>
  </tr>
</table>
{{/page}}