{{#>page}}

<h2>Athletes</h2>
<ol>
  <li><a href="/athletes">Athlete List</a></li>
  <li><a href="/athletes/shelly-ann-fraser-pryce">Athlete Details</a></li>
  <li><a href="/athletes/shelly-ann-fraser-pryce/schedule">Athlete Schedule</a></li>
  <li><a href="/athletes/new">Create Athlete</a></li>
</ol>

{{/page}}